[submodule "josh.js"]
	path = josh.js
	url = https://github.com/dougbeal/josh.js
[submodule "cake"]
	path = cake
	url = https://github.com/dougbeal/coffee-script.git
	branch = cake_callback
[submodule "pretty-json"]
	path = pretty-json
	url = https://github.com/dougbeal/pretty-json.git
