  <link rel="stylesheet" href="{{page.build}}/stylesheets/jquery-ui.css" type='text/css'>
  <link rel="stylesheet" href="{{page.build}}/stylesheets/feedlyconsole.css" type='text/css'>
  <link rel="stylesheet" href="{{page.build}}/stylesheets/syntax.css" type='text/css'>
  <link rel="stylesheet" href="{{page.build}}/stylesheets/pretty-json.css" type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
{% for content_scripts in site.data.manifest.content_scripts %}
{% for script in content_scripts.js %}
<script  type="text/javascript" src="{{page.build}}/{{script}}"></script>
{% endfor %}{% endfor %}
